# Logic gate classifier

In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split

# our files
from utils import generate_data
from binary_logic_gate_classifier import BinaryLogicGateClassifier

In [2]:
data = generate_data(10)

In [3]:
data.head(5)

   data 1  data 2  data 3  data 4  result
0       1       2       9       3       3
1       6       3       5       7       9
2       8       9       4       8       7
3       8       4       5       5       9
4       0       1       9       8       2

In [4]:
data = data.applymap(bin)

In [5]:
data

   data 1  data 2  data 3  data 4  result
0     0b1    0b10  0b1001    0b11    0b11
1   0b110    0b11   0b101   0b111  0b1001
2  0b1000  0b1001   0b100  0b1000   0b111
3  0b1000   0b100   0b101   0b101  0b1001
4     0b0     0b1  0b1001  0b1000    0b10
5    0b11  0b1001   0b101   0b111    0b10
6   0b100   0b110   0b100   0b100   0b100
7   0b111   0b101     0b1     0b1   0b101
8     0b0    0b10    0b10   0b101    0b11
9   0b110   0b100   0b110    0b10  0b1001

In [6]:
feature_cols = []
for feature in range(4):
    feature_cols.append(f"data {feature + 1}")
print(feature_cols)

['data 1', 'data 2', 'data 3', 'data 4']

In [7]:
X = data[feature_cols]
y = data['result']

X_train, y_train, X_test, y_test = train_test_split(X, y, random_state=42, test_size=0.30, shuffle=True)

In [8]:
X_train

   data 1  data 2  data 3  data 4
0     0b1    0b10  0b1001    0b11
7   0b111   0b101     0b1     0b1
2  0b1000  0b1001   0b100  0b1000
9   0b110   0b100   0b110    0b10
4     0b0     0b1  0b1001  0b1000
3  0b1000   0b100   0b101   0b101
6   0b100   0b110   0b100   0b100

In [9]:
X_test

0      0b11
7     0b101
2     0b111
9    0b1001
4      0b10
3    0b1001
6     0b100
Name: result, dtype: object